html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #333;
  /* Font */
  color: #dcdcdc;
  font-size: 32px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Dashboard flexbox setup */

#dashboard {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
}

#nidoState {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
}
#nidoState .tempRHToggle {
  display: flex;
  flex-grow: 2.5;
  justify-content: center;
  align-items: center;
}
#changeSetpoint {
  display: flex;
  flex-direction: column;
  flex-grow: 1.25;
}
#changeMode {
  display: flex;
  flex-direction: column;
  flex-grow: 1.25;
}

#weather {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.temperature {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.temperature .tempUnit {
  height: 35%;
}

/* SVG icons */
.icon {
  width: 1em;
  height: 1em;
  fill: #dcdcdc;
}

/* SunriseSunset component */
.sunriseSunset {
  font-size: 1em;
  line-height: 0;
}

/* Loading component */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  border: 0.5rem solid rgba(85, 85, 85, 1);
  border-top-color: #dddddd;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
